{{#if showDialog}}
{{#bs-modal open=showDialog size='sm' header=false body=false footer=false autoClose=false closeAction='close'}}
  {{#bs-modal-header}}
    <h4 class="modal-title">
      {{msg.title}}
    </h4>
  {{/bs-modal-header}}
  {{#bs-modal-body}}

      <div class="loader-screen">
        <div class="loader-box" style="height: 120px;">
  {{#if msg.item.isSaving}}
          <div class="loader-text">
            <button class="btn loader-spinner btn-only-trans fa fa-gear fa-spin"></button>
          </div>
  {{else}}
    {{msg.content}}
  {{/if}}
        </div>
      </div>
  {{/bs-modal-body}}
  {{#bs-modal-footer}}
    <button type="button" class="btn btn-default" {{action "close"}}>Close</button>
    <button type="submit" class="btn btn-primary" {{action "submitConfirm"}}> Ok </button>
  {{/bs-modal-footer}}
{{/bs-modal}}

{{/if}}
