{{!--
{{#if (and session.isUser showDialog)}}
--}}
{{#if showDialog}}

{{#bs-modal open=showDialog size='l' header=false body=false footer=false autoClose=false onHide=(action 'close') class="item-create" as |md|}}
  {{#md.header}}
    <h4 class="modal-title">
      {{#if item.isNew}}
        Add {{item.type.name}} to
      {{else}}
      Edit {{item.type.name}} of
      {{/if}}
      {{item.member.name}}
    </h4>
  {{/md.header}}
  {{#md.body}}

  {{#if item.isNew}}
    <label class="control-label">
      Type
      {{#unless item.type}}
      <span class="text-danger">(required)</span>
      {{/unless}}
    </label>
    <div class="input-group ship-model-modal">
      <input type="text" class="form-control" value={{item.type.name}} readonly>
      <div class="input-group-btn">
        {{#bs-dropdown as |dd|}}
          {{#dd.button}}<span class="caret"></span>{{/dd.button}}
          {{#dd.menu align="right"}}
            {{#each types as |sm|}}
              <li {{action "setType" sm}}><a href="#" class={{if (and (and (and s s.id) (and item.type item.type.id)) (eq s.id item.type.id)) "active"}} >{{sm.name}}</a></li>
            {{/each}}
          {{/dd.menu}}
        {{/bs-dropdown}}
      </div>
    </div>
    {{/if}}

    <label class="control-label">
      {{#if item.type}} 
        {{parentType.name}}
        {{#unless item.parent}}
        <span class="text-danger">(required)</span>
        {{/unless}}
      {{else}}
        &nbsp;
      {{/if}}
    </label>
    <div class="input-group ship-model-modal">
      <input type="text" class="form-control" id="shipModel" value={{item.parent.name}} readonly>
      <div class="input-group-btn">
        {{#bs-dropdown as |dd|}}
          {{#dd.button}}<span class="caret"></span>{{/dd.button}}
          {{#dd.menu align="right"}}

          {{#unless itemParentRoot}}
          {{#each parents as |pa|}}
              <li {{action "setParent" pa}}><a href="#" class={{if (eq pa.id item.parent.id) "active"}} >{{pa.name}}</a></li>
          {{/each}}
          {{/unless}}

            {{#each itemParentRoot as |sm|}}
              <li class="ship-manu">
               {{#if sm.img}}
                  <img class="manu-img" src={{sm.img}}>
                {{/if}}
                {{sm.name}}
              </li>
              {{#each sm.items as |it|}}
                <li {{action "setParent" it}}><a href="#" class={{if (eq it.id item.parent.id) "active"}} >{{it.name}}</a></li>
              {{/each}}
          {{/each}}

          {{/dd.menu}}
        {{/bs-dropdown}}
      </div>
    </div>

    <label class="control-label">Item Name</label>
    {{input type="text" class="form-control" id="shipName" value=item.name placeholder=item.parent.name}}

<!--     <div class="row"> -->
      <div class="col-md-8" style="height: 50%;">
        <br>
        <div class="item-img-box">
          {{#if item.parent}}
            {{item-details item=item.parent details=false}}
          {{else}}
            {{#if parentType}}
              {{item-details item=parentType details=false}}
            {{/if}}
          {{/if}}
        </div>
      </div>
      <div class="col-md-4 row text-center disabled">
        <label class="control-label stretch">Hidden</label>
        {{bs-switch size='mini' checked=item.hidden indeterminate=false}}
        <label class="control-label stretch">Available</label>
        {{bs-switch size='mini' checked=item.available indeterminate=false}}
      </div>
<!--     </div> -->


  {{/md.body}}
  {{#md.footer}}
<!--     <button type="submit" class="btn btn-danger" {{action "deleteItem"}} disabled={{rt.isSaving}}> Delete </button> -->
    <button type="submit" class="btn btn-primary" {{action "saveItem"}} disabled={{if requiredFields false true}} > {{#if item.hasDirtyAttributes}} Save {{else}} Ok {{/if}} </button>
    <button type="button" class="btn btn-default" {{action "close"}}>Close</button>

    {{!--
    {{#unless item.isSaving}}
      <button type="button" class="btn btn-default" {{action "close"}}>Close</button>
      {{#if item.parent}}
        <button type="submit" class="btn btn-primary" {{action "saveItem"}}> {{#if item.hasDirtyAttributes}} Save {{else}} Ok {{/if}} </button>
      {{else}}
        <button type="submit" class="btn btn-primary"> {{if item.hasDirtyAttributes 'Save' 'Ok'}} </button>
      {{/if}}
    {{/unless}}
    --}}
  {{/md.footer}}
{{/bs-modal}}


{{/if}}

