<div class="item-menu">
  
  <div class="item-type-menu">

      <span class="item-type-menu-item">
        <a href="#" class={{unless typeFilter "active"}} {{action "setTypeFilter" null}}>
          All
        </a>
      </span>
      {{#each types as |it|}}
      <span class="item-type-menu-item">
        <a href="#" class={{if (eq it.id typeFilter.id) "active"}} {{action "setTypeFilter" it}}>
          {{#if it.img}}
            <img class="root-item-type-img" src={{it.img}}>
          {{else}}
<!--                       <img class="root-item-img" src={{rootUnit.img}}> -->
          {{/if}}
          {{it.name}}s
        </a>
      </span>
      {{/each}}

  </div>


  <div class="item-stat-menu">
      Items: {{filteredContent.length}} / {{items.length}}
  </div>


  {{#if (or session.isAdmin member.loggedIn)}}
    <div class="toolbar">
      <button type="button" class="tb tb-default" {{action "addItem" member}}> <i class="fa fa-plus" ></i> Item</button>
      {{#if (and adminMode session.isAdmin)}}
        <button type="button" class="tb tb-default" {{action "addItemType"}}> <i class="fa fa-plus" ></i> Type</button>
        {{#if typeFilter}}
        <button type="button" class="tb tb-default" {{action "editItemType" typeFilter}}> <i class="fa fa-gear" ></i> {{typeFilter.name}}</button>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</div>

<div class="item-list">
    {{#ember-collection items=filteredContent cell-layout=(percentage-columns-layout filteredContent.length columns itemHeight) as |item index|}}
      {{item-details item=item details=details onConfirm=(action "showConfirm") onEdit=(action "showEdit")}}
    {{/ember-collection}}
</div>

{{#if showItemDialog}}
  {{item-create item=currItem showDialog=showItemDialog itemTypeFilter=itemTypeFilter}}
{{/if}}

{{#if showItemTypeDialog}}
  {{item-type-create itemType=currItemType showDialog=showItemTypeDialog onConfirm=(action "showConfirmType")}}
{{/if}}

{{#if showConfirmDialog}}
  {{confirm-dialog showDialog=showConfirmDialog msg=msg onConfirm=(action "onConfirmed")}}
{{/if}}
