{{!--
{{#if (and session.isUser showDialog)}}
--}}
{{#if showDialog}}

{{#bs-modal open=showDialog size='l' header=false body=false footer=false autoClose=false onHide=(action 'close') class="item-create" as |md|}}
  {{#md.header}}
    <h4 class="modal-title">
      {{#if item.isNew}}
        Add {{item.type.name}} to
      {{else}}
      Edit {{item.type.name}} of
      {{/if}}
      {{item.member.name}}
    </h4>
  {{/md.header}}
  {{#md.body}}

  {{#if item.isNew}}
    <label class="control-label">
      Type
      {{#unless item.type}}
      <span class="text-danger">(required)</span>
      {{/unless}}
    </label>
    <div class="input-group ship-model-modal">
      <input type="text" class="form-control" value={{item.type.name}} readonly>
      <div class="input-group-btn">
        {{#bs-dropdown as |dd|}}
          {{#dd.button}}<span class="caret"></span>{{/dd.button}}
          {{#dd.menu align="right"}}
            {{#each types as |sm|}}
              <li {{action "setType" sm}}><a href="#" class={{if (and (and (and s s.id) (and item.type item.type.id)) (eq s.id item.type.id)) "active"}} >{{sm.name}}</a></li>
            {{/each}}
          {{/dd.menu}}
        {{/bs-dropdown}}
      </div>
    </div>
    {{/if}}

    <label class="control-label">
      {{#if item.type}} 
        {{parentType.name}}
        {{#unless item.parent}}
        <span class="text-danger">(required)</span>
        {{/unless}}
      {{else}}
        &nbsp;
      {{/if}}
    </label>
    <div class="input-group ship-model-modal">
      <input type="text" class="form-control" id="shipModel" value={{item.parent.name}} readonly>
      <div class="input-group-btn">
        {{#bs-dropdown as |dd|}}
          {{#dd.button}}<span class="caret"></span>{{/dd.button}}
          {{#dd.menu align="right"}}

          {{#unless itemParentRoot}}
          {{#each parents as |pa|}}
              <li {{action "setParent" pa}}><a href="#" class={{if (eq pa.id item.parent.id) "active"}} >{{pa.name}}</a></li>
          {{/each}}
          {{/unless}}

            {{#each itemParentRoot as |sm|}}
              <li class="ship-manu">
               {{#if sm.img}}
                  <img class="manu-img" src={{sm.img}}>
                {{/if}}
                {{sm.name}}
              </li>
              {{#each sm.items as |it|}}
                <li {{action "setParent" it}}><a href="#" class={{if (eq it.id item.parent.id) "active"}} >{{it.name}}</a></li>
              {{/each}}
          {{/each}}

          {{/dd.menu}}
        {{/bs-dropdown}}
      </div>
    </div>

    <label class="control-label">Item Name</label>
    {{input type="text" class="form-control" id="itemParentName" value=item.name placeholder=item.parent.name}}

    <label class="control-label">Image</label>
    {{input type="text" class="form-control" id="itemImg" value=item.img placeholder=item.parent.img}}

    {{#if (and session.isAdmin item.member)}}
      <label class="control-label">Owner</label>
      <div class="row">
        <div class="col-md-3">
          {{member-details member=item.member details=false}}
        </div>
        <div class="col-md-9 mem-sel">
          {{member-select onConfirm=(action "changeOwner") actionName="Change"}}
        </div>
      </div>
    {{/if}}



<!--     <div class="row"> -->
      <div class="col-md-6" style="height: 30%;">
        <br>
        <div class="item-img-box">
          {{#if item.img}}
              {{item-details item=item details=false tb=false}}
          {{else}}
            {{#if item.parent}}
              {{item-details item=item.parent details=false tb=false}}
            {{else}}
              {{#if parentType}}
                {{item-details item=parentType details=false tb=false}}
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
      <div class="col-md-6 checklist">

        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-check" {{action (toggle item "hidden")}}>
              {{#if item.hidden}}
              <i class="fa fa-check-square-o fa-2x"></i>
              {{else}}
              <i class="fa fa-square-o fa-2x"></i>
              {{/if}}
            </button>
          </div>
          <div class="col-md-6">
            <label class="control-label">Hidden</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-check" {{action (toggle item "available")}}>
              {{#if item.available}}
              <i class="fa fa-check-square-o fa-2x"></i>
              {{else}}
              <i class="fa fa-square-o fa-2x"></i>
              {{/if}}
            </button>
          </div>
          <div class="col-md-6">
            <label class="control-label">Available</label>
          </div>
        </div>
      </div>
<!--     </div> -->


  {{/md.body}}
  {{#md.footer}}
    {{#if session.isAdmin}}
<!--       <button type="submit" class="btn btn-danger" {{action "deleteReward"}} disabled={{reward.isSaving}}>{{fa-icon "trash-o"}} Delete </button> -->
      <button type="submit" class="btn btn-primary" {{action "saveItem"}} disabled={{cannotSave}} >  
        {{fa-icon "save"}} Save
      </button>
    {{/if}}
    <button type="button" class="btn btn-default" {{action "close"}}>{{fa-icon "close"}} Close</button>

  {{/md.footer}}
{{/bs-modal}}


{{/if}}

