<div class="panel panel-default impart-panel member-list">
  <div class="panel-heading-filter">
    <div class="col-md-6">
      Name/Handle:
      <div class="input-group">
        {{input type="text" class="form-control" value=searchFilter}}
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"  {{action 'clearFilter'}}><i class="fa fa-eraser"></i></button>
        </span>
      </div><!-- /input-group -->
    </div>
    <div class="col-md-6">
      Game
      <div class="input-group">
        <input type="text" class="form-control" id="shipModel" value={{unitFilter.name}} placeholder="All" readonly>
        <div class="input-group-btn">

          {{#bs-dropdown}}
            {{#bs-dropdown-button}}<span class="caret"></span>{{/bs-dropdown-button}}
            {{#bs-dropdown-menu align="right"}}
              <li {{action "setUnitFilter" null}}>
                <a href="#" class={{unless unitFilter "active"}}>
                  <img class="root-item-img" src={{rootUnit.img}}>
                  All
                </a>
              </li>

              {{#each rootUnit.units as |s|}}
              <li {{action "setUnitFilter" s}}>
                <a href="#" class={{if (eq s.id unitFilter.id) "active"}}>
                  {{#if s.img}}
                    <img class="root-item-img" src={{s.img}}>
                  {{else}}
                    <img class="root-item-img" src={{rootUnit.img}}>
                  {{/if}}
                  {{s.name}}
                </a>
              </li>
              {{/each}}
            {{/bs-dropdown-menu}}
          {{/bs-dropdown}}

        </div>
      </div>
    </div>

    <div class="filter-stats">
      {{#if (or searchFilter unitFilter)}}
      {{#if filteredContent.length}}
      found: {{filteredContent.length}} of {{members.length}}
      {{else}}
      nothing found
      {{/if}}
      {{else}}
      Members: {{members.length}}
      {{/if}}
    </div>
  </div>


  <div class="panel-body result-list">
    {{#if filteredContent}}
    {{#ember-collection items=sortedContent cell-layout=(percentage-columns-layout filteredContent.length columns itemHeight) as |member index|}}
      {{member-details member=member draggable=draggable details=details}}
    {{/ember-collection}}
    {{/if}}
  </div>
</div>



{{!--
      {{item-details item=item details=details onConfirm=(action "showConfirm") onEdit=(action "showEdit")}}

            {{#power-select-multiple
              searchField="name"
              selected=unitFilter
              options=rootUnit.units
              onchange=(action (mut unitFilter))
              as |unit|
            }}
            {{#if unit.img}}
              <img class="root-item-img" style="height:16px;" src={{unit.img}}>
            {{else}}
              <img class="root-item-img" style="height:16px;" src={{rootUnit.img}}>
            {{/if}}
            {{unit.name}}
            {{/power-select-multiple}}
    --}}
