<div class="member-details">
  {{#if member.avatar}}
    <img class="member-avatar" src={{concat-string "http://robertsspaceindustries.com" member.avatar}}>
  {{else}}
    <img class="member-avatar" src="http://robertsspaceindustries.com/rsi/static/images/account/avatar_default.jpg">
  {{/if}}
  <div class="member-name">
    {{member.name}}
    <br>
    <div class="member-rank">
      {{member.rank}}
    </div>
  </div>
  {{yield}}
</div>

