<div class="panel panel-default impart-panel member-list">

    {{!--
        {{#if extended}}
    --}}
      <div class="panel-heading-filter">

        <div class="filter-stats">
          Name/Handle:
        </div>
        {{input type="text" class="ember-text-field form-control form-control name-filter" value=searchFilter}}
        {{#if searchFilter}}
        <button type="button" class="btn btn-default" {{action 'clearFilter'}}><i class="fa fa-eraser"></i></button>
        {{/if}}
        <div class="filter-stats">
          {{#if searchFilter.length}}
            {{#if filteredContent.length}}
              found: {{filteredContent.length}} of {{members.length}}
            {{else}}
              nothing found
            {{/if}}
          {{else}}
            Members: {{members.length}}
          {{/if}}
        </div>
      </div>


      <div class="panel-body result-list">
        {{#ember-collection items=sortedContent cell-layout=(percentage-columns-layout filteredContent.length columns itemHeight) as |member index|}}
          {{member-details member=member draggable=draggable details=details}}
        {{/ember-collection}}
      </div>
  </div>
