{{!--

<button class="tb tb-default" type="button" {{action "openSelect"}}>
  <i class="fa fa-edit"></i>
</button>

{{#if showSelect}}
--}}

<span class="action-name">
  {{actionName}}
</span>

  <div class="player-form">
    {{#power-select
      options=data
      selected=selVal
      onchange=(action (mut selVal))
      renderInPlace=true
      searchField="name"
      initiallyOpened=selVal
      as |mem idx|
    }}
       <img src="{{mem.avatar}}" class="mem-icon"> {{mem.name}}
    {{/power-select}}

    {{#if selVal}}
      <span class="player-apply">
        <button class="btn btn-default" type="button" {{action 'applyMember' selVal}}><i class="fa fa-user-plus"></i></button>
      </span>
    {{/if}}
  </div>

{{!--
{{/if}}
--}}


