{{#if showDialog}}
{{#bs-modal open=showDialog size='m' header=false body=false footer=false autoClose=false onHide=(action 'close') class="handle-create" as |md|}}
  {{#md.header}}
    <h4 class="modal-title">
      {{#if rt.isNew}} Add {{else}} Edit {{/if}}
       Reward Type {{rt.name}}
    </h4>
  {{/md.header}}
  {{#md.body}}
    <label class="control-label">
      Name
      {{#unless rt.name}}
      <span class="text-danger">(required)</span>
      {{/unless}}
    </label>
    {{#if rt.errors.name.length}}
      <span class="text-danger">
      {{#each rt.errors.name as |err|}}{{err.message}}{{/each}}
      </span>
    {{/if}}
    {{input type="text" class="form-control" value=rt.name}}

    <label class="control-label">
      Level
      {{#unless rt.level}}
      <span class="text-danger">(required)</span>
      {{/unless}}
    </label>
    {{#if rt.errors.level.length}}
      <span class="text-danger">
      {{#each rt.errors.level as |err|}}{{err.message}}{{/each}}
      </span>
    {{/if}}
    {{input type="number" class="form-control" value=rt.level}}

    <label class="control-label">
      Description
    </label>
    {{#if rt.errors.description.length}}
      <span class="text-danger">
      {{#each rt.errors.description as |err|}}{{err.message}}{{/each}}
      </span>
    {{/if}}
    {{input type="text" class="form-control" value=rt.description}}

    <div class="row">
    <label class="control-label">
      Image
    </label>
    {{#if rt.errors.img.length}}
      <span class="text-danger">
      {{#each rt.errors.img as |err|}}{{err.message}}{{/each}}
      </span>
    {{/if}}
    {{input type="text" class="form-control" value=rt.img}}
    </div>
    <br>
  {{/md.body}}
  {{#md.footer}}

    {{#if session.current_user.permission.reward_delete}}
      <button type="submit" class="btn btn-danger" {{action "deleteRewardType"}} disabled={{rt.isSaving}}>{{fa-icon "trash-o"}} Delete </button>
    {{/if}}

    {{#if session.current_user.permission.reward_edit}}
      <button type="submit" class="btn btn-primary" {{action "saveRewardType"}} disabled={{if (or (not requiredFields) (not rt.hasDirtyAttributes)) true false}} >  
        {{fa-icon "save"}} Save
      </button>
    {{/if}}
    <button type="button" class="btn btn-default" {{action "close"}}>{{fa-icon "close"}} Close</button>

  {{/md.footer}}
{{/bs-modal}}
{{/if}}
