{{#if showDialog}}
{{#bs-modal open=showDialog size='l' header=false body=false footer=false autoClose=false onHide=(action 'close') class="reward-create" as |md|}}
  {{#md.header}}
    <h4 class="modal-title">
      {{#if reward.isNew}}
        Add '{{reward.name}}' to {{reward.type.name}}
      {{else}}
        Manage {{reward.type.name}} '{{reward.name}}'
      {{/if}}
    </h4>
  {{/md.header}}
  {{#md.body}}
  <div class="reward-info">
    <label class="control-label">
      Name
      {{#unless reward.name}}
      <span class="text-danger">(required)</span>
      {{/unless}}
    </label>
    {{input type="text" class="form-control" value=reward.name}}

    <label class="control-label">
      Level
      {{#unless reward.level}}
      <span class="text-danger">(required)</span>
      {{/unless}}
    </label>
    {{input type="number" class="form-control" value=reward.level}}

    <label class="control-label">
      Description
    </label>
    {{input type="text" class="form-control" value=reward.description}}

    <label class="control-label">
      Image
    </label>
    {{input type="text" class="form-control" value=reward.img}}

    <label class="control-label">
      Assignments: {{merged.length}}
    </label>
  </div>

  <div class="reward-mu-list">
    {{#if (and (not reward.isNew) (not-eq reward.type.id "2"))}}
      <div class="toolbar">
        {{player-select onConfirm=(action "rewardMember") actionName="Reward"}}
      </div>
    {{/if}}

    {{#ember-collection items=merged cell-layout=(percentage-columns-layout merged.length columns itemHeight) as |player index|}}
        <div class="row" >
          <div class="col-md-3">
            <img src={{mu.player.avatar}} style="width:32px"/>
            {{player.name}}
          </div>
          <div class="col-md-3">
            unit? {{unit.name}}
          </div>
          <div class="col-md-1">
            <button class="tb txt-red" type="button" {{action 'showConfirm' player}}><i class="fa fa-sign-out"></i></button>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      {{/ember-collection}}
    </div>


    {{!--
            {{#each reward.playerUnits as |mu|}}
              <div class="row" >
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                  {{mu.player.name}}
                </div>
                <div class="col-md-1">
                  {{mu.unit.name}}
                </div>
              </div>
              {{/each}}
              --}}

  {{/md.body}}
  {{#md.footer}}
    {{#if session.current_user.permission.reward_delete}}
      <button type="submit" class="btn btn-danger" {{action "deleteReward"}} disabled={{reward.isSaving}}>{{fa-icon "trash-o"}} Delete </button>
    {{/if}}
    {{#if session.current_user.permission.reward_edit}}
      <button type="submit" class="btn btn-primary" {{action "saveReward"}} disabled={{if (or (not requiredFields) (not reward.hasDirtyAttributes)) true false}} >  
        {{fa-icon "save"}} Save
      </button>
    {{/if}}
    <button type="button" class="btn btn-default" {{action "close"}}>{{fa-icon "close"}} Close</button>
  {{/md.footer}}
{{/bs-modal}}

{{#if showConfirmDialog}}
  {{confirm-dialog showDialog=showConfirmDialog msg=msg onConfirm=(action "onConfirmed")}}
{{/if}}


{{/if}}
