{{#if unit}}
<div class="unit-tree">
  <div class="unit-header">
    <div class="unit-name"> 
      <a class="toggle" {{action 'toggleUnits'}}>
        <i class="fixedWidth fa {{if showUnits "fa-chevron-down" "fa-chevron-right"}}"></i>
        {{unit.name}}
      </a>
      {{#bs-dropdown class="unit-menu"}}
        {{#bs-dropdown-toggle}}
          {{fa-icon "gear"}}
        {{/bs-dropdown-toggle}}
        {{#bs-dropdown-menu class="pull-right"}}
          <li><a href="#">{{fa-icon "plus"}} Add Unit</a></li>
          <li><a href="#">{{fa-icon "pencil-square-o"}} Edit Unit</a></li>
          <li><a href="#">{{fa-icon "remove"}} Delete Unit</a></li>
        {{/bs-dropdown-menu}}
      {{/bs-dropdown}}
    </div>

    <a class="toggleElement" {{action 'toggleLeader'}}>
      <i class="fixedWidth fa {{if showLeader "fa-chevron-circle-down" "fa-chevron-circle-right"}}"></i>
      Leader: {{unit.leader.length}}
    </a>
    <div class="unit-leader {{unless showLeader "hide"}}">
      {{#each unit.leader as |lead|}}
        {{member-details member=lead draggable=true}}
      {{/each}}
    </div>
    <div style="clear: both"/>
  </div>


  <div class="unit-pilots-container" data-unitid={{unit.id}}>
    <a class="toggleElement" {{action 'togglePilots'}}>
      <i class="fixedWidth fa {{if showPilots "fa-chevron-circle-down" "fa-chevron-circle-right"}}"></i>
      Pilots: {{unit.pilots.length}}
    </a>
    <div class="unit-pilots {{unless showPilots "hide"}}">
      {{#each unit.pilots as |pilot|}}
        {{member-details member=pilot draggable=true}}
      {{/each}}
    </div>
  </div>

  <div class="unit-bg {{unless showUnits "hide"}}">
    <div class="child-units">
    {{#each unit.units as |child|}}
      {{unit-tree unit=child}}
    {{/each}}
    </div>
 </div>

  {{yield}}
</div>
{{/if}}
