{{#if unit}}
<div class="unit-tree">
  {{!-- DEPRICATED:
  <div class="unit-info" style="background-color: {{hex-to-rgba unit.color ".2"}}">
    --}}
  <div class="unit-info">
    <div class="unit-header">
      <div class="unit-name unit-name-container" data-unitid={{unit.id}}> 

        {{#if unit.units}}
          <a class="toggle" {{action 'toggleUnits'}}>
            <i class="fixedWidth fa {{if showUnits "fa-chevron-down" "fa-chevron-right"}}"></i>
            {{#if unit.img}}
              <img style="width:24px;" class="member-avatar" src={{unit.img}}>
            {{/if}}
            {{unit.name}}
          </a>
        {{else}}
          <i class="fixedWidth fa fa-circle"></i>
          {{#if unit.img}}
            <img style="width:24px;" class="member-avatar" src={{unit.img}}>
          {{/if}}
          {{unit.name}}
        {{/if}}

        {{#if session.isAdmin}}
        {{#bs-dropdown class="unit-menu"}}
          {{#bs-dropdown-toggle}}
            {{fa-icon "gear"}}
          {{/bs-dropdown-toggle}}
          {{#bs-dropdown-menu class="pull-right"}}
              <li><a {{action 'addUnit'}} href="#">{{fa-icon "plus"}} Add</a></li>
              <li><a {{action 'editUnit'}} href="#">{{fa-icon "pencil-square-o"}} Edit</a></li>
              <li><a {{action 'deleteUnit'}} href="#">{{fa-icon "remove"}} Delete</a></li>

              {{!--
            {{#if showChildren}}

              <li>{{#link-to 'overview.unit' unit.id activeClass=""}}{{fa-icon "pencil-square-o"}} Edit Unit{{/link-to}}</li>

            {{else}}
              <li><a {{action 'addGame'}} href="#">{{fa-icon "plus"}} Add Game</a></li>
              <li><a {{action 'editUnit'}} href="#">{{fa-icon "pencil-square-o"}} Edit {{unit.name}}</a></li>
            {{/if}}
              --}}

          {{/bs-dropdown-menu}}
          {{/bs-dropdown}}
          {{/if}}
      </div>
    </div>

    <div class="unit-leader-container" data-unitid={{unit.id}}>
      {{#if unit.leader}}
        <a class="toggleElement" {{action 'toggleLeader'}}>
          <i class="fixedWidth fa {{if showLeader "fa-chevron-circle-down" "fa-chevron-circle-right"}}"></i>
          Leader: {{unit.leader.length}}
        </a>
      {{else}}
        <i class="fixedWidth fa fa-circle"></i>
        Leader: {{unit.leader.length}}
      {{/if}}
      <div class="unit-leader {{unless showLeader "hide"}}">
        {{#each unit.leader as |lead|}}
          <div class="half-col">
            {{member-details member=lead draggable=true unitid=unit.id}}
          </div>
        {{/each}}
      </div>
      <div style="clear: both"/>
    </div>

    <div class="unit-pilots-container" data-unitid={{unit.id}}>
      {{#if unit.memberUnits}}
        <a class="toggleElement" {{action 'togglePilots'}}>
          <i class="fixedWidth fa {{if showPilots "fa-chevron-circle-down" "fa-chevron-circle-right"}}"></i>
          Member: {{unit.memberUnits.length}}
        </a>
      {{else}}
        <i class="fixedWidth fa fa-circle"></i>
        Member: {{unit.memberUnits.length}}
      {{/if}}
      <div class="unit-pilots {{unless showPilots "hide"}}">
        {{#each unit.memberUnits as |memUn|}}
            {{member-details member=memUn.member draggable=true unitid=unit.id}}
        {{/each}}
      </div>
    </div>
  </div>

    <div class="unit-bg {{unless showUnits "hide"}}">
      <div class="child-units">
        {{#each unit.units as |child|}}
          {{unit-tree unit=child level=level}}
        {{/each}}
      </div>
    </div>

  {{yield}}
</div>

{{/if}}
