<div id="info">
  <div class="panel panel-default impart-panel">
    {{#if currentUnit}}
      {{page-numbers currentPage=currentPage content=pagedContent showFL=true totalPages=totalPages numPagesToShow=3}}

      {{#each pagedContent as |member|}}
              {{member-details member=member draggable=true  details=false}}
      {{/each}}


{{!--
      Members: page {{currentPage}} / {{pagedContent.totalPages}} - total: {{members.length}}
    Unassigned Members: {{filteredMembers.length}} from {{members.length}}

      {{#each filteredMembers as |member|}}
        {{member-details member=member draggable=true  details=false}}
      {{/each}}
      --}}

      {{/if}}
  </div>
</div>
