<div id="units">
  <div class="panel panel-default pilot-panel">
    {{#if (eq currentUnit.id '1')}}
      {{unit-tree unit=currentUnit level=1}}
    {{else}}
      {{unit-tree unit=currentUnit level=50}}
    {{/if}}

      {{!--
    {{#if showGameEdit}}
      {{unit-tree unit=currentUnit showChildren=false}}
    {{else}}
      {{#if extended}} 
        {{unit-tree unit=currentUnit}}
      {{/if}}
      {{/if}}
      --}}
  </div>
</div>

