<div class="panel panel-default member-edit-panel">
  <div class="panel-heading">
    <div class="member-avatar">
      {{#if model.avatar}}
        <img class="member-avatar-img" src={{concat-string "https://robertsspaceindustries.com" model.avatar}}>
      {{else}}
        <img class="member-avatar-img" src="https://robertsspaceindustries.com/rsi/static/images/account/avatar_default.jpg">
      {{/if}}
    </div>
    <div class="member-name-hdr">
      <h4>{{model.name}}</h4>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Name</label>
        {{input type="text" class="form-control" value=model.name}}
      </div>
      <div class="col-md-6">
        <label class="control-label">Handle</label>
        {{input type="text" class="form-control"  value=model.handle}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Time</label>
        {{input type="number" class="form-control" value=model.timezone}}
      </div>
      <div class="col-md-6">
        <label class="control-label">Avatar (https://robertsspaceindustries.com)</label>
        {{input type="text" class="form-control" value=model.avatar}}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Rank</label>
        {{input type="text" class="form-control" disabled=true}}
      </div>
      <div class="col-md-6">
        <label class="control-label">Roles</label>
        {{input type="text" class="form-control" disabled=true}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="control-label">Units: {{model.memberUnits.length}}</label>
        <div>
          {{#each model.memberUnits as |memUn|}}
            {{memUn.unit.name}},
          {{/each}}
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Ships: {{model.ships.length}}</label>
        <button type="button" class="btn btn-default btn-xs pull-right add-ship-button" {{action "addShip" model}}> <i class="fa fa-plus"></i> Add Ship</button>

        <table class="table compact-table">
          <tbody>
            {{#each model.ships as |ship|}}
            <tr>
              <td class="ship-name">
                {{#if ship.name}}
                  {{ship.name}}
                {{else}}
                  {{ship.model.name}}
                {{/if}}
              </td>

              <td class="ship-edit text-danger text-right">
                {{#if session.isAdmin}}
                  {{#unless ship.isNew}}
                  <a href="#" class="text-info" {{action "editShip" ship}}>{{fa-icon "edit"}}</a>
                  {{/unless}}
                {{/if}}
              </td>
              <td class="ship-edit text-danger text-right">
                {{#if session.isAdmin}}
                  {{#unless ship.isNew}}
                  <a href="#" class="text-danger" {{action "meldShip" ship}}>{{fa-icon "remove"}}</a>
                  {{/unless}}
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <label class="control-label">Rewards: {{model.rewards.length}}</label>
        <button type="button" class="btn btn-default btn-xs pull-right add-ship-button disabled" {{action "addReward" model}}> <i class="fa fa-plus"></i> Add Reward</button>
        <table class="table compact-table">
          <tbody>
            {{#each model.rewards as |rew|}}
            <tr>
              <td class="ship-name">{{rew.name}}</td>
              <td class="ship-edit"></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel-footer">
      <button type="submit" class="btn btn-default pull-right"> Save</button>
  </div>


{{#bs-modal open=showDialog header=false body=false footer=false autoClose=false closeAction='close'}}
  {{#bs-modal-header}}
    <h4 class="modal-title">
      {{#if currShip.isNew}}
        Add Ship to
      {{else}}
        Edit Ship of
      {{/if}}
      {{currShip.member.name}}
    </h4>
  {{/bs-modal-header}}
  {{#bs-modal-body}}
    <label class="control-label">Ship Name</label>
    {{input type="text" class="form-control" id="shipName" value=currShip.name}}

    <label class="control-label">
      Model
      {{#unless currShip.model}}
      <span class="text-danger">(required)</span>
      {{/unless}}
    </label>
    <div class="input-group ship-model-modal">
      <input type="text" class="form-control" id="shipModel" value={{currShip.model.name}} readonly>
      <div class="input-group-btn">
        {{#bs-dropdown}}
          {{#bs-dropdown-button}}<span class="caret"></span>{{/bs-dropdown-button}}
          {{#bs-dropdown-menu align="right"}}
            {{#each shipManufacturer as |sm|}}
              <li class="ship-manu">
               {{#if sm.img}}
                  <img class="manu-img" src={{concat-string "https://robertsspaceindustries.com" sm.img}}>
                {{/if}}
                {{sm.name}}
              </li>
              {{#each sm.ships as |s|}}
                <li {{action "setModel" s}}><a href="#">{{s.name}}</a></li>
              {{/each}}
            {{/each}}
            {{!--
            {{#each sortedShipModels as |sm|}}
            <li {{action "setModel" sm}}><a href="#">{{sm.name}}</a></li>
            {{/each}}
            --}}
          {{/bs-dropdown-menu}}
        {{/bs-dropdown}}
      </div>
    </div>
  {{/bs-modal-body}}
  {{#bs-modal-footer}}
    <button type="button" class="btn btn-default" {{action "close"}}>Close</button>
    {{#if currShip.model}}
      <button type="submit" class="btn btn-primary" {{action "saveShip"}}> {{#if currShip.hasDirtyAttributes}} Save {{else}} Ok {{/if}} </button>
    {{else}}
      <button type="submit" class="btn btn-primary" disabled=true> {{if currShip.hasDirtyAttributes 'Save' 'Ok'}} </button>
    {{/if}}
  {{/bs-modal-footer}}
{{/bs-modal}}

</div>
