{{#bs-modal fade=false size='xl' open=showDialog header=false body=false footer=false closeAction='close' }}
  {{#bs-modal-header}}
      <h4>
        {{#if member.name}} {{member.name}} {{else}} &nbsp; {{/if}}
      </h4>
  {{/bs-modal-header}}

  {{#bs-modal-body}}

    <div style="width:100%; height:25%;">
      <div style="width:15%; height:100%; border-right:1px solid #204d74; float:left;">
        <div class="member-details-name">
        {{#if session.isUser}}
          <div class="toolbar toolbar-disabled">
            <i class="fa fa-edit" ></i> Edit
          </div>
        {{/if}}

          {{#if member.avatar}}
            <img class="member-details-img" src={{member.avatar}}>
          {{else}}
            <img class="member-details-img" src="https://robertsspaceindustries.com/rsi/static/images/account/avatar_default.jpg">
          {{/if}}
        </div>
      </div>

      <div style="width:25%; height:100%; border-right:1px solid #204d74; float:left; padding-left: 10px; padding-right: 10px;">
        <div style="width:30%; float: left;">
          <label class="control-label">Name</label>
        </div>
        <div style="width:70%; float: left;">
          {{input type="text" class="form-control" value=member.name readonly=(not session.isAdmin)}}
        </div>
        <div style=clear:both;></div>
        <div style="width:30%; float: left;">
          <label class="control-label">Timezone</label>
        </div>
        <div style="width:50%; float: left;">
          {{input type="number" class="form-control" value=member.timezone readonly=(not session.isUser)}}
        </div>
        <div style="width:20%; float: left;">
          <label class="control-label">UTC</label>
        </div>

        <div style=clear:both;></div>

        <div style="width:30%; float: left;">
          <label class="control-label">Schedule</label>
        </div>
        <div style="width:70%; float: left;">
          <div style="width:14%; height: 100%; float: left; border: 1px solid #204d74; margin-top: 10px;">Su</div>
          <div style="width:14%; height: 100%; float: left; border: 1px solid #204d74; margin-top: 10px;">Mo</div>
          <div style="width:14%; height: 100%; float: left; border: 1px solid #204d74; margin-top: 10px;">Tu</div>
          <div style="width:14%; height: 100%; float: left; border: 1px solid #204d74; margin-top: 10px;">We</div>
          <div style="width:14%; height: 100%; float: left; border: 1px solid #204d74; margin-top: 10px;">Th</div>
          <div style="width:14%; height: 100%; float: left; border: 1px solid #204d74; margin-top: 10px;">Fr</div>
          <div style="width:14%; height: 100%; float: left; border: 1px solid #204d74; margin-top: 10px;">Sa</div>
        </div>

      </div>

      <div style="width:20%; height:100%; border-right:1px solid #204d74; float:left; color: #333 !important; position: relative;">
        {{#if session.isUser}}
          <div class="toolbar toolbar-disabled">
            <i class="fa fa-edit" ></i> Manage
          </div>
        {{/if}}

          <table class="table member-handles">
            <thead>
              <tr>
                <th>Service</th>
                <th>Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="http://vignette3.wikia.nocookie.net/siivagunner/images/9/9f/Discord_icon.svg" style="width:20px;height:20px">
                  <b>Discord</b></td>
                <td>-</td>
              </tr>
              <tr>
                <td>
                  <img src="https://robertsspaceindustries.com/media/tb6ui8j38wwscr/icon/RSI.png" style="width:20px;height:20px">
                  <b>RSI Handle</b></td>
                <td>{{member.handle}}</td>
              </tr>
              <tr>
                <td>
                  <img src="http://icons.iconarchive.com/icons/martz90/circle/24/steam-icon.png" style="width:20px;height:20px">
                  <b>Steam</b></td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
      </div>

      <div style="width:20%; height:100%; border-right:1px solid #204d74; float:left; padding-left: 10px; padding-right: 10px; position:relative;">
        {{#if session.isUser}}
        <div class="toolbar toolbar-disabled">
          <i class="fa fa-edit" ></i> Apply
        </div>
        {{/if}}
        <label class="control-label">Units: {{member.memberUnits.length}}</label>
        <div>
          {{#each member.memberUnits as |memUn|}}
          {{memUn.unit.name}}<br>
          {{/each}}
        </div>

      </div>

      <div style="width:20%; height:100%; color: #333 !important; float:right; padding-left: 10px; padding-right: 10px; position:relative;">
        {{#if session.isUser}}
        <div class="toolbar toolbar-disabled">
          <i class="fa fa-edit" ></i> Add
        </div>
        {{/if}}
        <label class="control-label">Games: 0</label>
<!--         <div> -->
<!--           <img src="https://upload.wikimedia.org/wikipedia/en/9/91/Star_Citizen_logo.png" style="width:20px;height:20px"> -->
<!--           Star Citizen -->
<!--         </div> -->
      </div>

    </div>
    <div style="width:100%; height:75%; border-top:1px solid #204d74;">
      <div style="width:80%; height:100%; border-right:1px solid #204d74; float:left; position:relative;">
        <div class="item-list">
          {{item-list member=member details=true columns=columns itemHeight=itemHeight itemTypeFilter=itemTypeFilter}}
        </div>
      </div>
      <div style="width:20%; height:75%; color: #333 !important; float: right;padding-left: 10px; padding-right: 10px; ">
          <label class="control-label">Rank</label><br><br>
          <label class="control-label">Positions</label><br><br>
          <label class="control-label">Roles</label><br><br>
          <label class="control-label">Certificates</label><br><br>
          <label class="control-label">Badges</label><br><br>
          <label class="control-label">Achievements</label><br><br>
      </div>
    </div>


  {{/bs-modal-body}}

  {{#bs-modal-footer}}
    <button type="button" class="btn btn-default" {{action "close"}}>Close</button>

    {{#if (and member.hasDirtyAttributes session.isAdmin)}}
      <button type="submit" class="btn btn-primary">{{fa-icon "save"}} Save</button>
    {{/if}}

    {{#if session.isAdmin}}
      <button type="submit" class="btn btn-danger pull-right" {{action "deleteMember" member}}>{{fa-icon "remove"}} Delete</button>
    {{/if}}
  {{/bs-modal-footer}}
{{/bs-modal}}
