<div class="loader-screen">
  <div class="loader-box">
    <div class="login-text">
      LOGIN

      <div class="row login-form-row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">

          <label class="control-label">Email</label>
          {{input type="text" class="form-control" value=cred.email}}

          <label class="control-label">Password</label>
          {{input type="password" class="form-control" value=cred.password}}

          <div class="login-links">
            <a class="btn btn-default" {{action 'login'}} href="#">
              <i class="fa fa-sign-in"></i> Login
            </a>

            <br><br>
            TODO
            {{#each providers as |prov|}}
            <a class="btn btn-default" {{action 'loginProvider' prov.link}} href="#">
              <i class="fa fa-{{prov.icon}}"></i> {{prov.name}}
            </a>
            {{/each}}
          </div>
        </div>

        <div class="col-md-4">
        </div>
      </div>

    </div>
  </div>
</div>
