<div id="members" class="panel panel-default impart-panel">

  <div class="member-filter">
    <div class="filter-stats">
      filter:
    </div>
    <input type="text" class="ember-text-field form-control form-control name-filter" value={{searchFilter}}>
    <div class="filter-stats">
      members: {{model.length}} | filters: {{filteredContent.length}}
    </div>
  </div>

  <div class="member-pager">
    {{!--
    {{page-numbers content=pagedContent showFL=true numPagesToShow=7}}
    --}}
  </div>

  <div class="member-list">
    <div class="member-result">
      <table class="table table-condensed table-hover table-striped">
        <tbody>
        {{#each model as |member|}}
          {{#link-to 'members.member' member.id tagName="tr"}}
            <td class="member-avatar">
              {{#if member.avatar}}
                <img  style="float:left; width:34px;" class="member-avatar" src={{concat-string "https://robertsspaceindustries.com" member.avatar}}>
              {{else}}
                <img  style="float:left; width:34px;" class="member-avatar" src="https://robertsspaceindustries.com/rsi/static/images/account/avatar_default.jpg">
              {{/if}}
            </td>
            <td>
              {{member.name}}
            </td>
            <td>
              {{#if member.memberUnits.length}}
                {{#each member.memberUnits as |memUn|}}
                  {{memUn.unit.name}}, 
                {{/each}}
                {{else}}
                  &nbsp;
              {{/if}}
            </td>
            <td>
              {{#if member.ships.length}}
                  {{member.ships.length}}
              {{else}}
                  &nbsp;
              {{/if}}
            </td>
            {{/link-to}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="member-edit">
    {{outlet}}
  </div>
</div>
