<div class="players">

<div class="panel panel-player-list">
    <div class="player-list-header">
     
      <div class="col-md-3 player-list-header-name">
        Name
      </div>
      <div class="col-md-3">
        Handles
      </div>
      <div class="col-md-4">
        Units
      </div>
      <div class="col-md-1">
        Timezone
      </div>
      <div class="col-md-1">
        Items
      </div>
      
    </div>
    <div class="player-list-result">
      {{#if filteredContent}}
      {{#ember-collection items=sortedContent cell-layout=(percentage-columns-layout filteredContent.length columns itemHeight) as |player index|}}
        {{player-details player=player draggable=draggable details=true}}
      {{/ember-collection}}
      {{/if}}
    </div>
  </div>
  <div class="panel panel-default panel-player-filter">
    {{#if session.current_user.permission.player_create}}
      <div class="toolbar">
        <button type="button" class="tb tb-default" {{action 'createPlayer'}}>{{fa-icon "user-plus"}} Add Player</button>
      </div>
    {{/if}}

  <div class="panel-body">


    <div class="col-md-12">
      Name/Handles:
      <div class="input-group">
        {{input type="text" class="form-control" value=searchFilter}}
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"  {{action 'clearFilter'}}><i class="fa fa-eraser"></i></button>
        </span>
      </div><!-- /input-group -->
    </div>
    <div class="col-md-12">
      Game
      <div class="input-group">
        <input type="text" class="form-control" id="shipModel" value={{unitFilter.name}} placeholder="All" readonly>
        <div class="input-group-btn">

          {{#bs-dropdown as |dd|}}
            {{#dd.button}}<span class="caret"></span>{{/dd.button}}
            {{#dd.menu align="right"}}
              <li {{action "setUnitFilter" null}}>
                <a href="#" class={{unless unitFilter "active"}}>
                  <img class="root-item-img" src={{rootUnit.img}}>
                  All
                </a>
              </li>

              {{#each rootUnit.units as |s|}}
              <li {{action "setUnitFilter" s}}>
                <a href="#" class={{if (eq s.id unitFilter.id) "active"}}>
                  {{#if s.img}}
                    <img class="root-item-img" src={{s.img}}>
                  {{else}}
                    <img class="root-item-img" src={{rootUnit.img}}>
                  {{/if}}
                  {{s.name}}
                </a>
              </li>
              {{/each}}
            {{/dd.menu}}
          {{/bs-dropdown}}

        </div>
      </div>
    </div>

<!--       <hr> -->

      <div class="col-md-12">
        <div class="filter-stats">
          Players: {{filteredContent.length}} / {{players.length}} 
        </div>
      </div>

    </div>
  </div>

  
</div>

{{outlet}}


{{!--
<!-- <div class="pull-left"> -->
    {{player-list players=models.players details=true showEdit=true}}
<!-- </div> -->

  {{outlet}}
  --}}

{{!--
<div class="pull-left" style="position: relative;">
  {{#if session.current_user.permission.player_edit}}
    <div class="context-toolbar">
      <button type="button" class="btn btn-success" style="" {{action 'createMember'}}>{{fa-icon "plus"}} Add Member</button>
    </div>
  {{/if}}
</div>

  {{outlet}}
 --}}
