<div id="ships" style="height:100%;overflow-y:auto">
  {{#each content as |ship|}}
  {{!--
  {{ship.name}} - {{ship.crew}} - {{ship.manufacturer}}  - {{ship.img}}<br>
  --}}
      {{member-details member=ship details=true}}
  {{/each}}
</div>

