<div id="ships" style="height:100%;overflow-y:auto">
  {{#each content as |ship|}}
    {{ship.name}} - {{ship.shipManufacturer.name}}<br>
  {{/each}}

  {{!--
  {{#each content as |manu|}}
    {{manu.name}} - {{manu.ships.length}}<br>
    {{#each manu.ships as |ship|}}
      - {{ship.name}}<br>
    {{/each}}
    {{/each}}
    --}}
</div>

