<div id="myheader" class="clearfix">
  <ul class="nav nav-tabs">

    <li style="padding-left: 10px;">
      {{#if session.errors}}
        <i class="danger fa fa-warning"></i>
        {{#each session.errors as |error|}}
            {{error.message}},
        {{/each}}
      {{else}}
        {{#if session.isUser}}
          <i class={{if session.isAdmin "danger fa fa-user" "fa fa-user"}}></i> {{session.current_user.display_name}}
        {{/if}}
      {{/if}}

      <button type="button" class="btn btn-check" {{action (toggle session "fancyBG")}}>
        {{#if session.fancyBG}}
        <i class="fa fa-check-square-o"></i>
        {{else}}
        <i class="fa fa-square-o"></i>
        {{/if}}
      </button> Fancy Background
    </li>

    {{#if session.isAdmin}}
      <li class="pull-right" >{{#link-to 'log'}}<i class="fa fa-history"></i> Log{{/link-to}}</li>
      <li class="pull-right" >{{#link-to 'settings'}}<i class="fa fa-gear"></i> Settings{{/link-to}}</li>
      <li class="pull-right" >{{#link-to 'lfg'}}<i class="fa fa-gamepad"></i> LFG{{/link-to}}</li>
    {{/if}}

    <li class="pull-right" >{{#link-to 'members'}}<i class="fa fa-users"></i> Members{{/link-to}}</li>
    <li class="pull-right" >{{#link-to 'overview'}}<i class="fa fa-pie-chart"></i> Overview{{/link-to}}</li>
  </ul>
</div>
